.root {
    -fx-padding: 0;
    -fx-margin: 0;
    -fx-border-box: box-sizing;
    -fx-font-family: "Poppins", sans-serif;
}
.body {
    -fx-background-color: linear-gradient(to bottom right, #8b3ce8, #371263);
}
.wrapper {
    -fx-background-color: #0f151f;
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-max-width: 450;
    -fx-max-height: 450;
}
.chess-button {
    -fx-font-size: 16px;
    -fx-min-width: 50;
    -fx-min-height: 50;
    -fx-max-width: 50;
    -fx-max-height: 50;
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.odd {
    -fx-background-color: #e1e3e6;
}
.even {
    -fx-background-color: #1b283d;
}
.centerThis {
    -fx-alignment: center;
    -fx-padding: 20;
}
.txtStyle {
    -fx-font-size: 1.25em;
}
.title {
    -fx-position: absolute;
    -fx-font-size: 2em;
    -fx-min-width: 1.7em;
    -fx-max-width: 2.3em;
    -fx-min-height: 1.7em;
    -fx-alignment: center;
}
.reset-button {
    -fx-font-size: 1.2em;
    -fx-background-color: #0f151f;
    -fx-text-fill: #f8f8f8;
    -fx-border-radius: 2em;
}
.win-button {
    -fx-font-size: 1.2em;
    -fx-background-color: #501c8c;
    -fx-text-fill: #f8f8f8;
    -fx-border-radius: 2em;
}
.win-screen {
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-font-weight: 400;
    -fx-position: relative;
    -fx-background-color: #0f151f;
    -fx-background-radius: 10;
    -fx-spacing: 10;
}
.win-label {
    -fx-text-fill: #f8f8f8;
    -fx-font-size: 1.2em;
}